* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    order: 1px dashed black;
    /* Debug */

}

:root {
    --drop-darker: rgba(0, 0, 0, 1);
    --drop-lighter: rgba(255, 255, 255, 1);
    --drop-hero_page_bg: rgba(180, 208, 231, 1);
    --drop-btn: rgba(0, 97, 255, 1);
    --drop-text_link: rgba(88, 17, 241, 1);
    --drop-col-border: rgb(180, 180, 180);
    --drop-partner-banner-bg-desinit: rgba(162, 211, 155, 1);
    --drop-partner-banner-bg-asu: rgba(97, 8, 43, 1);
    --drop-partner-banner-bg-uf: rgba(0, 147, 206, 1);
    --drop-partner-banner-bg-topps: rgba(255, 28, 28, 1);
    --drop-partner-banner-bg-central: rgba(245, 245, 245, 1);
    --drop-partner-banner-bg-wbr: rgba(213, 0, 31, 1);
    --drop-partner-banner-bg-hearst: rgba(180, 208, 231, 1);
    --drop-partner-banner-bg-l_p: rgba(13, 36, 129, 1);
    --drop-partner-banner-bg-c_c_o: rgba(255, 216, 48, 1);
}

/* #region common */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    padding: 2rem 0;
    width: 90%;
}

h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
}

h3,
h4 {
    padding: 1rem;
}

/* #region utilities */
.d-flex {
    display: flex;
}

.logo {
    height: 20px;
}

.btn_b {
    text-decoration: none;
    color: var(--drop-lighter);
    background-color: var(--drop-btn);
}

.btn_w {
    text-decoration: none;
    color: var(--drop-darker);
    background-color: var(--drop-lighter);
    border: 1px solid var(--drop-darker);
}

.container80 {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.container70 {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    padding: 4rem 0;
}

.col4 {
    width: calc((100% / 12) * 4);
}

.col6 {
    width: calc((100% / 12) * 6);
}

.col8 {
    width: calc((100% / 12) * 8);
}

.col12 {
    width: 100%;
}

.col4 img {
    width: 100%;
}

.col8 img {
    width: 100%;
}

/* #region header */
.header_nav {
    max-width: 1850px;
    margin: auto;
    align-items: center;
}

.header_nav>div {
    flex-grow: 1;
}

.header_nav_right>ul {
    justify-content: end;
}

.header_nav li {
    padding: 1rem;
}

.header_nav li a:not(.btn_b) {
    color: var(--drop-darker);
}

.header_nav .btn_b {
    padding: 0.5rem;
}

/* #endregion header */

/* #region main */
/* #region hero_page */
.hero_page {
    background-color: var(--drop-hero_page_bg);
}

.hero_page .col4 div {
    padding: 2rem 0;
}

.hero_page .btn_b {
    padding: 1rem;
}

.arrow_down a {
    font-size: 2.5rem;
    color: var(--drop-darker);
}

/* #endregion hero_page */

/* #region business_plans */

input {
    appearance: none;
    border: 3px solid var(--drop-col-border);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

input:checked {
    border: 4px solid var(--drop-btn);
}

label {
    padding-right: 3rem;
    line-height: 10rem;
    font-size: 0.8rem;
}




.business_plan.col4,
.business_plans .col12 {
    border: 1px solid var(--drop-col-border);
}

.business_plans .row {
    gap: 1rem;
}

.buyer_type {
    text-align: center;
    padding: 0.3rem;
    border-bottom: 1px solid var(--drop-col-border);
}

.price,
.details,
.buy_now,
.highlights {
    padding: 1rem;
}

.price li:nth-child(2) {
    color: var(--drop-col-border);
}

.business_plan li {
    padding: 0.3rem 0;
}

.business_plan .btn_b {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}

.buy_now span {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--drop-col-border);
}

.highlights .fa-li {
    color: var(--drop-btn);
}

.business_plan.col12 {
    margin-top: 1rem;
}

.col12 .col4 {
    padding-top: 1rem;
    padding-left: 1rem;
}

/* #endregion business_plans */

/* #region find_partners */
.find_partners .col4 {
    padding: 3rem;
}

.find_partners .col4 * {
    padding: 1rem 0;
}

.find_partners .btn_w {
    padding: 1rem;
}

/* #endregion find_partners */

/* #region operations */
.operations .row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.operations .col4 {
    padding: 1rem;
}

/* #endregion operations */

.partners_banner {
    height: 100px;
    background-color: lightcoral;
}

/* #region free_trial */
.free_trial {
    background-color: var(--drop-hero_page_bg);
}

.free_trial h2 {
    padding-bottom: 0;
}

.free_trial :nth-child(2) {
    text-align: end;
}

.free_trial .btn_w {
    border: 0;
    padding: 0.5rem 2rem;
    line-height: 2rem;
}

/* #endregion free_trial */

/* #region faq */
.faq li {
    padding: 2rem 0;
    border-top: 1px solid var(--drop-darker);
}

.faq ul:last-child {
    border-bottom: 1px solid var(--drop-darker);
}

.faq .d-flex {
    justify-content: space-between;
}

.faq i {
    padding: 0 2rem;
}

/* #endregion faq */




/* #endregion main */

/* #region footer */
#site_footer {
    background-color: var(--drop-darker);
}

.footer_nav ul {
    color: var(--drop-lighter);
    text-align: left;
    flex-grow: 1;
    padding: 4rem 0;
}

.footer_nav li a {
    font-size: 0.8rem;
    color: var(--drop-lighter);
}

.footer_language {
    color: var(--drop-lighter);
    font-size: 0.7rem;
    width: fit-content;
    border-top: 1px solid var(--drop-lighter);
    padding: 2rem 0 1.5rem;
}

/* #endregion footer */